* {
	font-family: 'Inter', sans-serif;
}

// paper-shadow system based on UX Movement Newsletter
.core-shadow {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.cast-shadow {
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.high-elevation-cast-shadow {
	box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.08)
}

.mdc-tab-indicator__content--underline {
	border-top-width: 4px !important;
	border-color: #f09c17 !important;
}

.one-blog-container {
	margin-bottom: 50px;
	display: flex; justify-content: space-between; flex-wrap: wrap; padding-bottom: 0; margin-bottom: 10px
}

.blog-text-section-container {
	width: 48vw; max-width: 800px;
}

.blog-description-font-styles {
	font-family: UberMoveText, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;; font-weight: 400; font-size: 1.1rem;
}

.step-title-font-styles {
	margin-bottom: 12px; font-family: sans-serif; font-weight: 600; font-size: 1.7rem
}

@media screen and (max-width: 479px) {
	.step-title-font-styles {
		font-size: 1.1rem;
	}
}

// tab component css 
.active-underline-indicator {
	border-bottom: 2px solid #F7C686;
}
// end of tab component css

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing  */
audio::-internal-media-controls-download-button {
	display:none;
}
audio::-webkit-media-controls-enclosure {
	overflow: hidden;
}
audio::-webkit-media-controls-panel {
	width: calc(100% + 33px);
}  

.webflow-container {
	width: 90%; 
	max-width: 1600px; /* webflow's value is 1280, partly because their scrollbar takes up width */
	margin-right: auto;
	margin-left: auto; 

	box-sizing: border-box;
}

.webflow-paragraph-1 {
	font-size: 1.8rem;	
}

@media screen and (max-width: 991px) {
	.webflow-paragraph-1 {
		font-size: 1.1rem;
	}
}

.header-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 3%;
	margin-bottom: 3%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	/* -webkit-justify-content: space-between;
	justify-content: space-between; */

	flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
	.header-subcopy {
			max-width: 55vw;
			font-size: 1.3rem;
		}
	}
	
.header-subcopy {
	max-width: 20vw;
	margin-top: 0;
	margin-bottom: 0.4em;
	font-size: 1.2rem;
	line-height: 1.5;

	// ADDITIONAL PROPERTIES I ADDED ON TOP OF WEBFLOW
	font-family: sans-serif;
}

// * {
// 	box-sizing: border-box;
// }


body {
  margin: 0;
}

// COPYING NOTION'S SCROLLBAR
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #D3D1CB;
}

::-webkit-scrollbar-track {
	background: #EDECE9;
}

.webflow-section {
	padding-top: 8%; 
	padding-bottom: 8%;
}

/* used from https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow  */
/* NOTE: you MUST set a width explicitly */
.my-truncated-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// HOME PAGE STYLES (copied entirely from /+page.svelte)
.active-bold {
	font-weight: 600;
}

.webflow-container {
	width: 90%; /* 90% */
	// max-width: 1400px; /* webflow's value is 1280, partly because their scrollbar takes up width */
	margin-right: auto;
	margin-left: auto; 

	box-sizing: border-box;

	// additional properties
	margin-top: 20px;

	background-color: transparent;
}
	
.active-underline-indicator {
	border-bottom: 2px solid #F7C686;
}

.webflow-h1 {
	font-size: 4rem;
}

@media screen and (max-width: 767px) {
	.webflow-h1 {
		font-size: 3rem;
	}	
}

@media screen and (max-width: 479px) {
	.webflow-h1 {
		font-size: 2.6rem;
	}
}


.image-gallery-container {
	margin-top: 6%; 
	margin-bottom: 20%; // was 24%
	// margin-left: 2%;
}

@media screen and (max-width: 991px) {
	.image-gallery-container {
		margin-top: 0% !important;
		margin-bottom: 8% !important;
	}
}

.webflow-section {
	padding-top: 8%; 
	padding-bottom: 8%;
}

.header-title {
	// max-width: 52vw; /* webflow is 52vw, but explanations is a long word */
	margin-top: 0; 
	margin-bottom: 0;
	font-size: 3vw; /* was 6vw */
	/* line-height: 1.1; /* webflow's is 1.0, but squishes the text on Explain, looks good on Webflow though */
	font-weight: 500;

	/* This turns to prevent <p> from taking additional height for no reason */
	margin-top: 0;
	margin-bottom: 0;

	// BELOW ARE CSS ATTRIBUTES I PUT IN ADDITION TO BASE ATTRIBUTES
	box-sizing: border-box;

	/* The -0.02em is the secret sauce for making sans-serif fonts look good **/
	letter-spacing: -.02em; 
	font-weight: 600; 

	color: #1b1b1b; // exact complement of Webflow's contrast black/white contrast
	line-height: 1.25; // used to be 1.25 but GF suggests otherwise
}

// As soon as we achieve minimum width of 1280,
// the layout will make use of horizontal space 
@media only screen and (min-width: 1280px) {
	.header-title {
		font-size: 4vw; // webflow's original is 7rem
		max-width: calc(100vw - 200px);
	}
	.header-subtitle {
		max-width: calc(100vw - 800px);
	}
	.webflow-container {
		width: 92%;
	}
}

@media only screen and (max-width: 991px) {
	.header-title {
		max-width: 85vw;
		font-size: 4vw;
	}
	.webflow-container {
		width: 85%;
	}
}

@media only screen and (max-width: 767px) {
	.header-title {
		max-width: 100vw;
		font-size: 12vw;
		line-height: 1.4;
		margin-top: 12px;
	}
	.webflow-container {
		width: 85%;
	}
}

.call-to-action-button {
	height: 4.2vw; 
	margin-top: 0.8vw; 
	margin-bottom: 0.8vw;
}

@media only screen and (max-width: 991px) {
	.call-to-action-button {
		height: 60px;
		margin-top: 16px;
		margin-bottom: 2rem;
	}	
}

.webflow-intro-type {
	font-size: 2.4rem; // used to be 5 rem
	// line-height: 1.125; // used to be 1.25 but you know what happened last time
	font-weight: 500;
	// letter-spacing: -.02em;
	max-width: 100%;
}

@media screen and (max-width: 991px) {
	.webflow-intro-type {
		font-size: 2.6rem;
	}
}

@media screen and (max-width: 479px) {
	.webflow-intro-type {
		font-size: 1.6rem;
	}
}

.header-flex {
	display: flex;
	// margin-top: 2%;
	// margin-bottom: 40px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	/* -webkit-justify-content: space-between;
	// justify-content: space-between; */
	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;


	// additional properties: 
	// margin-top: 60px;
}

@media screen and (max-width: 767px) {
	.header-flex {
		margin-top: 0px;
	}
}

@media screen and (max-width: 479px) {
	.header-flex {
		margin-bottom: 0px;
	}
}

.header-subcopy {
	max-width: 20vw;
	margin-top: 0;
	margin-bottom: 0.4em;
	font-size: 1.2rem;
	line-height: 1.5;
}

@media screen and (max-width: 991px) {
	.header-subcopy {
		max-width: 55vw;
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 479px) {
	.header-subcopy {
		max-width: 90vw;
		font-size: 1rem;
	}
}

.header-subcopy-wrapper {
	// margin-left: 5vw;
	margin-left: 0.5vw;
	width: 90%;
	max-width: 280px; 

	// additional attributes
	margin-right: 0px;
	display: flex; 
	flex-direction: column;
	// justify-content: flex-end; 
	// align-items: flex-start;

	-webkit-flex-direction: column; 
	-webkit-align-items: flex-start;

		margin-top: 32px; margin-left: 0px; border: 0px solid orange;
}


@media screen and (max-width: 991px) {
	.header-subcopy-wrapper {
		max-width: 700px;
		margin-top: 30px;
		margin-left: 0;
		font-size: 1.2rem;
	}
	
}

@media screen and (max-width: 767px) {
	.header-subcopy-wrapper {
		margin-top: 48px;
	}
}

:global(.room-title input) {
	font-size: 2rem;
}

:global(.question input) {
	color: rgb(19, 145, 230) !important
}

.content {
margin: 0 auto;
/* min-width: 750px; 
max-width: 750px; */
text-align: left;
}

li {
margin-bottom: 2px;
}

:global(#smui-app),
:global(body),
:global(html) {
	display: block !important;
	height: auto !important;
	width: auto !important;
	position: static !important;
}


.flexy {
	display: flex;
	flex-wrap: wrap;
}

.flexor {
	display: inline-flex;
	flex-direction: column;
}

.card-container {
	margin-top: 0px;
	width: 100%;
}


li {
	margin-bottom: 24px;
}