* {
	font-family: 'Inter', sans-serif;
	// TO-DO: revert the question button to its original appearance
	box-sizing: border-box;
}

/* Reset button's default styling */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;

  /* Fix for Safari/iOS */
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Remove the focus ring (though consider keeping it for accessibility) */
button:focus {
  outline: none;
}

// responsive typography based on Kevin Powell
:root {
	--fs-xl: clamp(2.4rem, 3.8vw, 4.8rem);
	--fs-l: clamp(1.4rem, 2.2vw, 3.4rem);
	--fs-m: clamp(1rem, 1.6vw, 2rem);
	--fs-s: clamp(0.875rem, 1.3vw, 1.8rem);
	--fs-xs: clamp(0.75rem, 1vw, 1.6rem);

	--fs-700: 2rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.75rem; 

	--is-l: clamp(2.4rem, 3.2vw, 4rem);
	--is-m: clamp(1.8rem, 2.4vw, 2.7rem);
	--is-s: clamp(1rem, 1.9vw, 2rem);

	--is-400: 36px;

	--navbar-height: 56px;
  --bg-off-white: #f8f9f9;
}

/* prevent accidental going back page */
/* https://stackoverflow.com/questions/30636930/disable-web-page-navigation-on-swipeback-and-forward?rq=1 */
html, body {
  overscroll-behavior-x: none;
}


/* https://uxmovement.substack.com/p/how-to-use-surface-elevation-to-elevate
	We base low, medium and high elevation on this essay.
*/

// 0.1 is too low
// 0.25 is too much
// 0.5 is too much

 // SEE image
  // https://www.notion.so/Design-e87b085e3e0c4910b8ef770bb1268dfb?pvs=4#34e8c3917fca4a78b23f869647f452a9
.ux-low-elevation  {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.ux-high-elevation {
	box-shadow: 
		0px 1px 3px rgba(0, 0, 0, 0.2),
		0 18px 36px rgba(0, 0, 0, 0.2); 
}

// paper-shadow system based on UX Movement Newsletter
.core-shadow {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.cast-shadow {
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.high-elevation-cast-shadow {
	box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.08)
}

.mdc-tab-indicator__content--underline {
	border-top-width: 4px !important;
	border-color: #f09c17 !important;
}

.one-blog-container {
	margin-bottom: 50px;
	display: flex; justify-content: space-between; flex-wrap: wrap; padding-bottom: 0; margin-bottom: 10px
}

.blog-text-section-container {
	width: 48vw; max-width: 800px;
}

@media screen and (max-width: 479px) {
	.step-title-font-styles {
		font-size: 1.1rem;
	}
}

// tab component css 
.active-underline-indicator {
	border-bottom: 2px solid #F7C686;
}
// end of tab component css

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing  */
audio::-internal-media-controls-download-button {
	display:none;
}
audio::-webkit-media-controls-enclosure {
	overflow: hidden;
}
audio::-webkit-media-controls-panel {
	width: calc(100% + 33px);
}  

.webflow-container {
	width: 92%; 
	margin-right: auto;
	margin-left: auto; 

	// additional properties
	margin-top: 24px;

	background-color: transparent;
	box-sizing: border-box;
}

.webflow-paragraph-1 {
	font-size: 1.8rem;	
}

@media screen and (max-width: 991px) {
	.webflow-paragraph-1 {
		font-size: 1.1rem;
	}
}

.header-flex {
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
	.header-subcopy {
			max-width: 55vw;
			font-size: 1.3rem;
		}
	}
	
.header-subcopy {
	max-width: 20vw;
	margin-top: 0;
	margin-bottom: 0.4em;
	font-size: 1.2rem;
	line-height: 1.5;
}

body {
  margin: 0;
}

// COPYING NOTION'S SCROLLBAR
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: #D3D1CB;
}

::-webkit-scrollbar-track {
	background: #EDECE9;
}

.webflow-section {
	padding-top: 8%; 
	padding-bottom: 8%;
}

/* used from https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow  */
/* NOTE: you MUST set a width explicitly */
.my-truncated-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// HOME PAGE STYLES (copied entirely from /+page.svelte)
.active-bold {
	font-weight: 600;
}
	
.active-underline-indicator {
	border-bottom: 2px solid #F7C686;
}

.webflow-h1 {
	font-size: 4rem;
}

@media screen and (max-width: 767px) {
	.webflow-h1 {
		font-size: 3rem;
	}	
}

@media screen and (max-width: 479px) {
	.webflow-h1 {
		font-size: 2.6rem;
	}
}


.image-gallery-container {
	margin-top: 6%; 
	margin-bottom: 20%; // was 24%
	// margin-left: 2%;
}

@media screen and (max-width: 991px) {
	.image-gallery-container {
		margin-top: 0% !important;
		margin-bottom: 8% !important;
	}
}

.webflow-section {
	padding-top: 8%; 
	padding-bottom: 8%;
}

/////////
//// FONT SECTION HERE
/// /////

.header-title {
	// Warp uses `white-space: pre-line;` pre-wrap is also an option but didn't achieve anything
	text-wrap: balance;

	font-size: var(--fs-xl);

	/* This turns to prevent <p> from taking additional height for no reason */
	margin-top: 0;
	margin-bottom: 0;

	// BELOW ARE CSS ATTRIBUTES I PUT IN ADDITION TO BASE ATTRIBUTES

	/* The -0.02em is the secret sauce for making sans-serif fonts look good **/
	letter-spacing: -.02em; 
	font-weight: 600; 

	color: #1b1b1b; // exact complement of Webflow's contrast black/white contrast
	line-height: 1.4;
}

.header-subtitle {
	text-wrap: balance;
	font-size: var(--fs-m); 
	line-height: 1.6; 
	font-weight: 500; 
	color: rgb(40, 40, 40);
	max-width: 55ch; // 50-60 characters
}

.call-to-action-button {
	height: 4.2vw; 
	margin-top: 0.8vw; 
	margin-bottom: 0.8vw;
}

@media only screen and (max-width: 991px) {
	.call-to-action-button {
		height: 60px;
		margin-top: 16px;
		margin-bottom: 2rem;
	}	
}

.webflow-intro-type {
	font-size: 2.4rem; // used to be 5 rem
	// line-height: 1.125; // used to be 1.25 but you know what happened last time
	font-weight: 500;
	// letter-spacing: -.02em;
	max-width: 100%;
}

@media screen and (max-width: 991px) {
	.webflow-intro-type {
		font-size: 2.6rem;
	}
}

@media screen and (max-width: 479px) {
	.webflow-intro-type {
		font-size: 1.6rem;
	}
}

.header-flex {
	display: flex;
	// margin-top: 2%;
	// margin-bottom: 40px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	/* -webkit-justify-content: space-between;
	// justify-content: space-between; */
	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;


	// additional properties: 
	// margin-top: 60px;
}

@media screen and (max-width: 767px) {
	.header-flex {
		margin-top: 0px;
	}
}

@media screen and (max-width: 479px) {
	.header-flex {
		margin-bottom: 0px;
	}
}

.header-subcopy {
	max-width: 20vw;
	margin-top: 0;
	margin-bottom: 0.4em;
	font-size: 1.2rem;
	line-height: 1.5;
}

@media screen and (max-width: 991px) {
	.header-subcopy {
		max-width: 55vw;
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 479px) {
	.header-subcopy {
		max-width: 90vw;
		font-size: 1rem;
	}
}

.header-subcopy-wrapper {
	// margin-left: 5vw;
	max-width: 280px; 

	// additional attributes
	display: flex; 
	flex-direction: column;
	// justify-content: flex-end; 
	// align-items: flex-start;

	-webkit-flex-direction: column; 
	-webkit-align-items: flex-start;

		margin-top: 32px; margin-left: 0px; border: 0px solid orange;
}


@media screen and (max-width: 991px) {
	.header-subcopy-wrapper {
		max-width: 700px;
		margin-top: 30px;
		margin-left: 0;
		font-size: 1.2rem;
	}
	
}

@media screen and (max-width: 767px) {
	.header-subcopy-wrapper {
		margin-top: 48px;
	}
}

:global(.room-title input) {
	font-size: 2rem;
}

:global(.question input) {
	color: rgb(19, 145, 230) !important
}

.content {
margin: 0 auto;
/* min-width: 750px; 
max-width: 750px; */
text-align: left;
}

li {
margin-bottom: 2px;
}

:global(#smui-app),
:global(body),
:global(html) {
	display: block !important;
	height: auto !important;
	width: auto !important;
	position: static !important;
}


.flexy {
	display: flex;
	flex-wrap: wrap;
}

.flexor {
	display: inline-flex;
	flex-direction: column;
}

.card-container {
	margin-top: 0px;
	width: 100%;
}


li {
	margin-bottom: 24px;
}